.player_turnmarker {
  width: 40px;
  float: left;
}

.player_name {
  float: left;
  width: 100px;
  outline: black solid 1px;
  padding: 1px;
  margin: 1px 4px;
}

.player_health {
  width: 90px;
  float: left;
  outline: black solid 1px;
  padding: 1px;
  margin: 1px 4px;
}

.player_vp {
  width: 80px;
  float: left;
  outline: black solid 1px;
  padding: 1px;
  margin: 1px 4px;
}

.player_energy {
  width: 70px;
  float: left;
  outline: black solid 1px;
  padding: 1px;
  margin: 1px 4px;
}

.player_dice {
}

.player_status_bar {
  height: 64px;  
}

.die {
  float: left;
  width: 64px;
  height: 80px;
  margin: 2px;
  padding: 1px;
  
}

.control_div {
  clear: both;
}